# Dependencies
node_modules/

# Environment & secrets
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
web-build/

# Expo / React Native
.expo/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs & debug
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS & editor
.DS_Store
.idea/
.vscode/
*.sw?

# TypeScript
*.tsbuildinfo
